<div class="tab-pane" id="activities">
    <form action="{{ path('smart_bookkeep_system_config_save') }}" 
        method="post">
        
        <div id="buttons">
            <a href="#" id="addLink" class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span> Добавить КВЭД
            </a>
            <button type="submin" id="btnSave" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Сохранить КВЭДы
            </button>
        </div>

        <table class="table" id="linksTable">

            <thead>
{#                <th class="col-md-2"></th>#}
                <th class="col-md-1">Код</th>
                <th class="col-md-5">Описание</th>
                <th class="col-md-1">Основной</th>
                <th></th>
            </thead>

            <tbody>
                
                {% for key, activity in activities %}
                   {{ _self.actRow(activity, loop.index0) }}
                {% endfor %}
                
            </tbody>
        </table>
        
        {% macro actRow(item, key) %}

            <tr>    
                <td>
                    <input type="hidden" id="acts{{key}}act_id" name="activity[acts][{{key}}][act_id]" value="{{item.id}}" />
                    <input type="hidden" id="acts{{key}}act_keyform" name="activity[acts][{{key}}][act_keyform]" value="{{key}}" />
                    {% set disabled = "disabled" %}
                    {% if item.id is empty %}
                        {% set disabled = "" %}
                    {% endif %}
                    <input required class="form-control" {{disabled}} id="acts{{key}}act_code" name="activity[acts][{{key}}][act_code]" maxlength="5" type="text" value="{{item.code}}" />
                    
                </td>
                
                <td> 
                    <textarea required style="resize:vertical; min-height: 50px; max-height: 200px;" id="acts{{key}}act_desc" name="activity[acts][{{key}}][act_desc]" class="form-control">{{item.description}}</textarea> 
                </td>
                
                <td> 
                    {% if item.main == 1 %}
                        <input class="form-control" id="acts{{key}}act_main" name="act_main_group" type="radio"  value="{{key}}" checked />
                    {% else %}
                        <input class="form-control" id="acts{{key}}act_main" name="act_main_group" type="radio"  value="{{key}}" />
                    {% endif %}
                    
                </td>
                
                <td>
                    <a class="deleteRowLink btn btn-danger btn-xs" href="#">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>

            </tr>   

        {% endmacro %}
            

        <script type="text/html" id="rowTmpl">
            {{ _self.actRow(
            {'id': '',
             'code':'',
             'description':'',  
             'main':'',  
            }, "__name__") }}
        </script>

        <script>
            $(function() {

                $("#addLink" ).on('click', function() { 
                
                      var length = $('#linksTable tr').length;
                      
                      var auto_input_code = "#acts"+length+"act_code";
                      var desc = "#acts"+length+"act_desc";

                      var row = $('#rowTmpl').html().replace(/(__name__)/g, length);
                      
                   {#   var clone = $(source) // the input with autocomplete your want to clone
                            .clone()
                            .attr("id",auto_input_id) // Must give a new id with clone
                            .val("") // Clear the value (optional)
                            .appendTo(target);
                      #}


                      $('#linksTable tbody').append(row); 
                      
                      $(auto_input_code).autocomplete({
                          source: "{{ path('smart_bookkeep_dictionary_get') }}",
                          minLength: 0,
                          select: function( event, ui ) {
                            $( this ).val( ui.item.label );
                            $( desc ).val( ui.item.desc );
                                return false;
                            },
                            change: function (event, ui) {
                                if (ui.item == null || ui.item == undefined) {
                                    $(this).val("");
{#                                    $(this).attr("disabled", false);#}
                                } else {
{#                                    $(this).attr("disabled", true);#}
                                }
                            }
                      });

                      return false;

                });

                $('body').on('click', 'a.deleteRowLink', function() { 

                      $(this).closest('tr').remove(); 

                      return false;

                });

            });
        </script>
    </form>
</div>