<div class="tab-pane active" id="main">
    <table class="table">
            <tr>
                <td> id </td>
                <td> {{user.id}} </td>
            </tr>
            <tr>
                <td> ФИО </td>
                <td> {{user.name}} </td>
            </tr>
            <tr>
                <td> E-mail </td>
                <td> {{user.email}} </td>
            </tr>
            <tr>
                <td> ИНН/EДРПОУ </td>
                <td> {{user.tin}} </td>
            </tr>
            <tr>
                <td> Предприятие </td>
                <td> {{user.enterprise}} </td>
            </tr>
            <tr>
                <td> ID в SugarCRM </td>
                <td>
                {% if user.sugarId %}
                <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                    {{user.sugarId}}
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                    Нет ID
                </div>
                {% endif %}
                </td>
            </tr>
    </table>   

</div>
