
{% extends "SmartBookkeepBundle::layout.html.twig" %}

{% block content %}
    <h2> Список предпринимателей </h2>
    <div class="panel panel-default">
    <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>E-mail</th>
            <th>ИНН/EДРПОУ</th>
            <th>Название предприятия</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for businessmen in businessmens %}
        <tr>
            <td>{{ businessmen.id }}</td>
            <td>{% autoescape false %}{{ businessmen.name }}{% endautoescape %}</td>
            <td>{{ businessmen.email }}</td>
            <td>{{ businessmen.tin }}</td>
            <td>{{ businessmen.enterprise }}</td>
            <td>
                <a href="#"
                   class="btn btn-primary" title="Редактировать">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
