
{% extends "SmartBookkeepBundle::layout.html.twig" %}

{% block head %}
    {{parent()}}
    
    <style>
        form > div#buttons {
            margin: 10px 5px 0 5px;
 
        }
        div#buttons a,button {
            float:right;
            margin-right: 5px;
        }
    </style>
{% endblock %}

{% block content %}
 
    <h2 class="text-info"> Настройки предпринимателя: <b> {{ user.username }} </b> </h2>
    
    {% for flashMessage in app.session.flashbag.get('notice-successfully') %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage|raw }}
        </div>

    {% endfor %}
        
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Основная информация</a></li>
        <li><a href="#activities" data-toggle="tab">Виды деятельности</a></li>
    </ul>
    
    <div class="tab-content">
        {% include 'SmartBookkeepBundle:System:tabs/main.html.twig' %}
        {% include 'SmartBookkeepBundle:System:tabs/activities.html.twig' %}
    </div>
{% endblock %}
