{% extends "SmartBookkeepBundle::layout.html.twig" %}


{% block head %}
   {{parent()}}
    <style>
            
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
          background-color: white;
          border: 2px solid #3276b1;
          border-radius: 10px;
          box-shadow: 0 4px 12px;
        }
        
        .form-signin-heading {
            margin-top: 0px;
        }
        
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="text"],input[type="email"] {
          margin-bottom: 5px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

      .login-message {
        max-width: 335px; 
        margin: 0 auto 20px; 
      }
      
    </style>
{% endblock %}

{% block menu %} {% endblock %}

{% block body %} 
    
    
    {% if error %}
        <div class="alert alert-danger login-message"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Ошибка:</span> {{ error.message }}</div>
    {% endif %} 
    
    {% if success %}
        <div class="alert alert-success login-message"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><span class="sr-only">Успешно:</span> {{ success.message }}</div>
    {% endif %} 
    

    <div class="container">  
        
      <form action="{{ path('smart_bookkeep_login_check') }}" class="form-signin" role="form" method="post">
        
            <h2 class="form-signin-heading"> Вход в систему </h2>       
        
            <input type="email" class="form-control" placeholder="E-mail" 
                name="_username" value="" required autofocus>

            <input type="password" name="_password" class="form-control" placeholder="Пароль">
          
            {#
                Если вы хотите контролировать URL, на который перенаправить пользователя:
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Войти</button>
            <a class="btn btn-lg btn-success btn-block" href="{{ path('smart_bookkeep_register') }}"> Регистрация </a>
      </form>    
    </div>
{% endblock %}