{% extends "SmartBookkeepBundle::layout.html.twig" %}

{% block head %}
   {{parent()}}
   <script> 
       function passValid() 
       {
           var $pass = $("input[name='_password']");
           var pass_r = $("input[name='_password_reply']");
           if( $pass.val() == pass_r.val() ) 
               return true;
           
           $("input[name='_password']").animate({ 
                backgroundImage: 'none',
                backgroundColor: 'red',
            }, 500);
            
            $(".massage-pass").fadeIn();
            //$(".massage-pass").fadeOut('5000');
           return false;
       }
   </script>
   
   
    <style>
            
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
        
        .massage-pass {
            display: none;
            color: red;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            background-color: white;
            border: 2px solid #3276b1;
            border-radius: 10px;
            box-shadow: 0 4px 12px;
        }
        
        .form-signin-heading {
            margin-top: 0px;
        }
        
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="text"], [type="email"] {
            margin-bottom: 5px;
            /*border-bottom-right-radius: 0;*/
            /*border-bottom-left-radius: 0;*/
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .form-signin input[name="_password"] {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        div.login-error {
            max-width: 300px; 
            padding: 19px 29px 29px; 
            margin: 0 auto 20px; 
            border: 1px solid #CC0000;
            background: #FFEBE8;
            border-radius: 5px;
        }
      
    </style>
{% endblock %}

{% block menu %} {% endblock %}

{% block body %} 
    

    <div class="container">  
        
      <form action="{{ path('smart_bookkeep_save') }}" class="form-signin" role="form" method="post">
        
            <h2 class="form-signin-heading"> Регистрация </h2>       
        
            <input type="text" class="form-control" placeholder="ФИО" name="_name" value="" required autofocus>
            <input type="email" class="form-control" placeholder="E-mail" name="_email" value="" required autofocus>
            <input type="text" class="form-control" placeholder="Название предприятия" name="_enterprise" value="" required autofocus>
            <input type="text" class="form-control" maxlength="10" placeholder="ИНН/ЕДРПОУ" name="_tin" value="" required autofocus>
            <br/>
            <input type="password" class="form-control" placeholder="Пароль" name="_password" value="" required autofocus>
            <input type="password" class="form-control" placeholder="Потвердите пароль" name="_password_reply" value="" required autofocus>
            <span class="massage-pass">Пароли не совпадают</span>
            <button class="btn btn-lg btn-primary btn-block" onclick="return passValid();" type="submit" name="save">Сохранить</button>
            <a class="btn btn-lg btn-warning btn-block" href="{{ path('smart_bookkeep_login') }}"> Вход </a>
      </form>

    </div>
{% endblock %}