<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
            {% block title %}
                Бухгалтерия | Booking System
            {% endblock %}
        </title>

        {% block stylesheets %}

            {% stylesheets 'bundles/smartbookkeep/css/bootstrap.min.css'
                'bundles/smartbookkeep/css/jquery-ui.min.css'
                filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}

        {% block styles %}

            <style>

                body {
                  padding-top: 50px;
                }

                .dropdown-header {
                    color: #31708F;
                    font-weight: bold;
                    font-size: 14px;
                }

                .dropdown-header:after { 
                    content: ":"  
                }

            </style>

        {% endblock %}

        {% block javascripts %}

            {% javascripts
                '@SmartBookkeepBundle/Resources/public/js/jquery-1.11.0.min.js'
                '@SmartBookkeepBundle/Resources/public/js/jquery-ui.min.js'
                '@SmartBookkeepBundle/Resources/public/js/bootstrap.min.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
        
    {% endblock %}
</head>

<body>
    {% block body %}
        
        {% block menu %}
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                
                <div class="container">

                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{{ path('smart_bookkeep_homepage') }}" >Bookkeep System</a>

                    </div>

                    <div class="navbar-collapse collapse">

                        <div class="dropdown pull-right">

                            <a href="#" data-toggle="dropdown" class="dropdown-toggle navbar-text">

                                    Привет, {{app.user.username}}!   

                            </a>

                            <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">

                                <!--<li><a href="#">Изменить профиль</a></li>

                                <li class="divider"></li>-->

                                <li><a href="{{ path('smart_bookkeep_logout') }}">Выйти</a></li> 

                            </ul>

                        </div>
                        
                        <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="active">
                                <a href="{{ path('smart_bookkeep_system_list') }}">Список Предпринимателей</a>
                            </li>
                            <li class="">
                                <a href="{{ path('nelmio_api_doc_index') }}">API Documentation</a>
                            </li>
                        {% endif %}
                            <li>
                                <a href="{{ path('smart_bookkeep_system_config') }}">
                                    <span class="glyphicon glyphicon-cog"></span> Мои настройки
                                </a>
                            </li>

                        </ul>
                        
                    </div>
                </div>
            </div>
        {% endblock %}

      <div class="container">

          <div class="row">

              {% block content %}
                {# ... #}
              {% endblock %}

          </div>

      </div>
 {% endblock %}         
</body>
</html>
